In [87]:
import pandas as pd
import numpy as np
import os

In [88]:
os.chdir('C:\\Users\\Poorna\\Desktop\\SYNXA\\adult.csv\\boston-housing')

In [89]:
train=pd.read_csv('train.csv')
train.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [90]:
train.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [91]:
x=train[['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat']]
y=train[['medv']]

In [92]:
test=pd.read_csv('test.csv')
test.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
1,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
2,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
3,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
4,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10

In [93]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [94]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=45,train_size=0.7)
lr=LinearRegression()

C:\Users\Poorna\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [95]:
lr.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [99]:
y_pred = lr.predict(x_test)

In [100]:
y_pred = lr.predict(test)
y_pred

array([[31.27947429],
       [25.64467092],
       [18.66939919],
       [ 9.70469293],
       [18.18776827],
       [17.25721236],
       [19.17726072],
       [15.73496669],
       [13.24982207],
       [15.5718257 ],
       [19.86982974],
       [21.36318328],
       [ 7.7493535 ],
       [14.12561852],
       [24.37918489],
       [22.78142834],
       [23.92830169],
       [28.95121883],
       [ 6.98337459],
       [28.13150174],
       [21.49340364],
       [24.3633102 ],
       [21.0157493 ],
       [22.27629255],
       [21.48174445],
       [23.1349735 ],
       [26.53357032],
       [27.40764862],
       [29.63245149],
       [28.66678691],
       [36.01716279],
       [35.76571544],
       [32.41445524],
       [21.78926285],
       [18.52394786],
       [21.24472516],
       [20.6427661 ],
       [20.48508635],
       [20.22964004],
       [22.77639638],
       [14.56069361],
       [20.93906783],
       [21.03828501],
       [17.81868028],
       [13.61749515],
       [12.01152334],
       [ 8.28275913],
       [15.72540189],
       [18.82390015],
       [21.90036804],
       [21.23938497],
       [33.93579311],
       [42.64212385],
       [26.35818872],
       [21.59393999],
       [23.90512336],
       [32.5148109 ],
       [40.69463756],
       [35.37480505],
       [33.69092227],
       [30.03049353],
       [36.9894938 ],
       [16.80662396],
       [16.43691169],
       [22.36650512],
       [23.20489902],
       [24.48558839],
       [28.03618599],
       [24.99532562],
       [30.30865301],
       [33.95889669],
       [36.21532845],
       [33.26842371],
       [32.7474714 ],
       [28.15040973],
       [27.84890977],
       [22.50614817],
       [11.72942872],
       [18.7289378 ],
       [24.97332512],
       [22.81780728],
       [20.4509287 ],
       [37.07435916],
       [43.1055419 ],
       [35.82221901],
       [34.36547669],
       [40.32869429],
       [25.76665182],
       [21.44617016],
       [33.75974044],
       [36.30540749],
       [35.86207195],
       [30.07563835],
       [38.0136434 ],
       [26.24887085],
       [25.97476499],
       [34.45631846],
       [23.49068134],
       [27.93672991],
       [28.17209784],
       [31.14205064],
       [29.55165528],
       [32.15500672],
       [24.98969663],
       [24.75699824],
       [20.52775576],
       [24.45813237],
       [22.39777105],
       [18.37288143],
       [23.45131801],
       [23.56424093],
       [18.47099872],
       [22.16734625],
       [20.03037508],
       [18.26667555],
       [14.93395027],
       [12.90381933],
       [19.13267722],
       [19.14788736],
       [23.75796975],
       [13.23130064],
       [15.71751006],
       [20.20949346],
       [22.62717375],
       [40.71394307],
       [35.71662841],
       [27.48271881],
       [17.37634063],
       [18.13753457],
       [20.16236138],
       [19.73442388],
       [ 8.60507643],
       [ 6.72871965],
       [18.20656109],
       [21.53157413],
       [21.41118361],
       [17.12289685],
       [11.11757318],
       [19.09316778],
       [ 9.42652001],
       [12.10794237],
       [ 9.0796385 ],
       [20.28705763],
       [17.94058339],
       [16.86029979],
       [ 0.70793421],
       [12.93354788],
       [20.72532265],
       [18.98479399],
       [19.50978417],
       [12.47302689],
       [16.73856356],
       [18.0825572 ],
       [13.33688087],
       [14.88302852],
       [ 4.09657413],
       [18.26116323],
       [17.61625799],
       [16.28686208],
       [15.06291895],
       [12.17527143],
       [20.45916   ],
       [26.54112002],
       [15.63020939],
       [29.56808364],
       [23.04825946],
       [ 6.73078363],
       [19.66151208],
       [15.67530917],
       [12.07186728],
       [20.14956381],
       [19.04378872],
       [25.09918978]])

In [101]:
pd.DataFrame(y_pred,columns=['preditions'])

     preditions
0     31.279474
1     25.644671
2     18.669399
3      9.704693
4     18.187768
5     17.257212
6     19.177261
7     15.734967
8     13.249822
9     15.571826
10    19.869830
11    21.363183
12     7.749354
13    14.125619
14    24.379185
15    22.781428
16    23.928302
17    28.951219
18     6.983375
19    28.131502
20    21.493404
21    24.363310
22    21.015749
23    22.276293
24    21.481744
25    23.134973
26    26.533570
27    27.407649
28    29.632451
29    28.666787
..          ...
143   17.940583
144   16.860300
145    0.707934
146   12.933548
147   20.725323
148   18.984794
149   19.509784
150   12.473027
151   16.738564
152   18.082557
153   13.336881
154   14.883029
155    4.096574
156   18.261163
157   17.616258
158   16.286862
159   15.062919
160   12.175271
161   20.459160
162   26.541120
163   15.630209
164   29.568084
165   23.048259
166    6.730784
167   19.661512
168   15.675309
169   12.071867
170   20.149564
171   19.043789
172   25.099190

[173 rows x 1 columns]

In [102]:

print("R-Squaredon test dataset={}".format(lr.score(x_train,y_train)))

R-Squaredon test dataset=0.7856306601774707